{% extends 'akai_manager_python/authenticated.html' %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <li class="text-success">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
        <legend class="mt-5 text-center">Spotkanie {{ meeting.date }} o godzinie {{ meeting.time }}</legend>
    </div>
    <div class="mt-3 row">
    {% if user.is_superuser %}
        <div class="col-sm-3">
            {% if meeting.is_active %}
                <div class="mt-2 text-center">
                    {% url 'meeting_register_code' meeting.code as dir %}
                    {% with request.scheme|add:"://"|add:request.META.HTTP_HOST|add:dir as directory %}
                        {% load qr_code %}
                        <a href={{ directory }} ><img src="{% qr_url_from_text directory size="T" %}" alt="hello"></a>
                    {% endwith %}
                </div>
                <div class="text-center">
                    <b class="text-center">{{ meeting.code }}</b>
                </div>
                <form method="POST" class="text-center" action="{% url 'meeting_activate' meeting.pk %}">{% csrf_token %}
                <button class="btn btn-outline-info" type="submit">
                    Zakończ<br>Spotkanie
                </button>
                </form>
            {% else %}
                <form method="POST" class="text-center" action="{% url 'meeting_activate' meeting.pk %}">{% csrf_token %}
                <button class="btn btn-outline-info text-center" type="submit">
                    Rozpocznij<br>Spotkanie
                </button>
                </form>
            {% endif %}
            {% if meeting.members.exists %}
                <div>
                    <h6 class="mt-5 text-center">Obecni</h6>
                </div>
                <ul class="mt-1 list-group">
                {% for each in meeting.members.all %}
                    <li class="list-group-item text-sm-center list-group-item-light text-info text-truncate">
                        {% if each.get_full_name|length > 0 %}{{ each.get_full_name }}{% else %}{{ user.get_username }}{% endif %}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
        <div class="col-sm-{% if user.is_superuser %}9{% else %}12{% endif %}">
        {% if meeting.agenda %}
            <div>
                <h6 class="mt-2 text-left">Agenda</h6>
            </div>
            <div>
                <pre sclass="mt-1 mb-1">{{meeting.agenda}}</pre>
            </div>
        {% endif %}
        {% if meeting.notes %}
            <div>
                <h6 class="mt-2 text-left">Notatki</h6>
            </div>
            <div>
                <p class="mt-3 mb-1">{{meeting.notes}}</p>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}