{% extends 'akai_manager_python/authenticated.html' %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <li class="text-success">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <legend class="mt-5 text-center">Spotkanie {{ meeting.date }} o godzinie {{ meeting.time }}</legend>
{% endblock %}