{% extends 'authenticated.html' %}
{% block content %}
    <div class="col"></div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <li class="text-success">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        <legend class="mt-5 text-center">Spotkanie {{ meeting.date }} o godzinie {{ meeting.time }}</legend>
    </div>

    {% if user.is_superuser %}
            {% if meeting.is_active %}
                <div class="mt-2 text-center meeting-detail-qr col-sm-4 offset-sm-4">
                    {% url 'meeting_register_code' meeting.code as dir %}
                    {% with request.scheme|add:"://"|add:request.META.HTTP_HOST|add:dir as directory %}
                        {% load qr_code %}
                        <a href={{ directory }} ><img src="{% qr_url_from_text directory size="T" %}" alt="hello"></a>
                    {% endwith %}
                </div>

                <div class="text-center ">
                    <b class="text-center">{{ meeting.code }}</b>
                </div>

                <form method="POST" class="text-center" action="{% url 'meeting_activate' meeting.pk %}">{% csrf_token %}
                    <button class="btn btn-outline-info" type="submit">
                        Zakończ spotkanie
                    </button>
                </form>

                <form method="POST" class="text-center mt-3" action="{% url 'meeting_update' meeting.pk %}">{% csrf_token %}
                    <button class="btn btn-outline-info" type="submit">
                        Edytuj
                    </button>
                </form>

            {% else %}

                <form method="POST" class="row text-center" action="{% url 'meeting_activate' meeting.pk %}">{% csrf_token %}
                    <button class="btn btn-outline-info text-center w-100" type="submit">
                        Rozpocznij spotkanie
                    </button>
                </form>

            {% endif %}

            {% if meeting.members.exists %}
                    <div class="row">
                    <div class="mt-5 text-center meeting-detail-qr col-sm-4 offset-sm-4">
                        <h6>Obecni</h6>
                    </div>
                    <link rel="stylesheet" href="css/meeting_detail.css">
                    <div class="mt-1 d-flex overflow-auto" style="">
                    {% for each in meeting.members.all %}
                        <div class="list-group-item text-sm-center text-info ml-1 mr-1">
                            {% if each.get_full_name|length > 0 %}{{ each.get_full_name }}{% else %}{{ user.get_username }}{% endif %}</div>
                    {% endfor %}
                    </div>

            {% endif %}

    {% else %}


            {% if user in meeting.members.all %}
             <div class="row mt-4">
                <h4 class="text-success">OBECNY</h4>
            {% else %}
             <div class="row mt-4">
                <h4 class="text-danger">NIEOBECNY</h4>
                {% if meeting.is_active %}
                    </div>
                    <div class="row">
                        <a href="{% url 'meeting_register' %}">dopisz sę do listy obecności</a>
                {% endif %}
            </div>
            {% endif %}

    {% endif %}
    <div class="row mt-2">
        <div class="col-12">
        {% if meeting.agenda %}
            <div>
                <h5 class="mt-2 text-left">Agenda</h5>
            </div>
            <div>
                <pre class="mt-1 mb-1">{{meeting.agenda}}</pre>
            </div>
        {% endif %}
        {% if meeting.notes %}
            <div>
                <h5 class="mt-2 text-left">Notatki</h5>
            </div>
            <div>
                <p class="mt-3 mb-1">{{meeting.notes}}</p>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}