<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
        <img src="https://akai.org.pl/img/logo.svg" width="30" height="30" class="d-inline-block align-top mr-1" />
        AKAI Hub
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Zgłoś obecność</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Moje spotkania</a>
      </li>
    </ul>
      <ul class="navbar-nav">
          <li class="nav-item d-flex align-items-center">
          {% if user.profile.avatar_url %}
              <img src="{{user.profile.avatar_url}}" alt="" class="profile-pic d-inline-block align-baseline mr-1">
          {% endif %}
        <a class="nav-link active">{{user.email}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>