
{% extends 'authenticated.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 class="text-center my-4">Usuwanie użytkownika "{{member.username}}"</h2>
    <div class="member-edit-container">
        <form method="post">{% csrf_token %}
            <p class="text-center">Czy na pewno chcesz usunąć wybranego użytkownika?</p>
            <input type="submit" value="Usuń" class="btn btn-danger float-right">
            <a class="btn btn-light float-right mr-2" href="{%url 'member_list'%}">Powrót</a>

        </form>
    </div>
{% endblock %}
