{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} Panel AKAI</title>
    <link rel="stylesheet" href="{% static "index.css" %}">
    {% block custom_css %}
    {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "safari-pinned-tab.svg" %}" color="#001936">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <noscript>
      <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="App">
        {% block layout %}
        {% endblock %}
    </div>
    {% block custom_js %}
        <script src="{% static "index.js" %}"></script>
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>